@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;

  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: rgba(142, 68, 173, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  margin: 2rem 3rem;
}

.counter-container .counter {
  font-size: 3.5rem;
  margin-top: 10px;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
}
